@model IEnumerable<BestTickets.Models.Vehicle>

    <table class="table-responsive  ticketsSchedule hidden-xs ">
        <thead>
            <tr>
                <th>Номер транспорта</th>
                <th class="hidden-xs hidden-sm">Тип</th>
                <th>Маршрут</th>
                <th>Время отправления</th>
                <th>Время прибытия</th>
                <th>Тип места/Количество свободных мест/Стоимость</th>
            </tr>
        </thead>
        @if (Model.Count() < 1)
            {
            <tbody>
                <tr><td><h4 class="text-center text-info">Билетов не найдено</h4></td></tr>
                <tr></tr>
            </tbody>
        }
        else
        {
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.Name</td>
                        <td class="hidden-xs hidden-sm">@ticket.Type</td>
                        <td>@ticket.Route</td>
                        <td>@ticket.DepartureTime</td>
                        <td>@ticket.ArrivalTime</td>
                        <td>
                            @foreach (var place in ticket.Places)
                            {
                                <p>
                                    <span>@place.Type</span>/<span>@place.Amount</span>/<span><strong>@place.Cost</strong><span>руб.</span></span>
                                </p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>

    @if (Model.Count() < 1)
    {
        <h4 class="text-center text-info">Билетов не найдено</h4>
    }
    else
    {
        <div class="schedule ticketsSchedule visible-xs">
            @foreach (var ticket in Model)
            {
                <div class="col-xs-12 text-center routeLabel"><strong>@ticket.Name <span>Маршрут:</span> @ticket.Route</strong></div>
                <div class="col-xs-12 text-center">
                    <div>
                        <span>Тип:</span> @ticket.Type
                    </div>
                    <div>
                        <span>Отправление: </span>
                        @ticket.DepartureTime
                        <span >Прибытие: </span>  
                        @ticket.ArrivalTime
                    </div>
                    <div>
                        <span>Свободные места:</span>
                        @foreach (var place in ticket.Places)
                       {
                        <p>
                            <span>@place.Type</span> <span>@place.Amount</span> <span><strong>@place.Cost</strong><span> руб.</span></span>
                        </p>
                        }
                </div>
            </div>
            }

        </div>
    }
    