@model IEnumerable<BestTickets.Models.Ticket>

<table>
    <thead>
        <tr>
            <th>Номер транспорта</th>    
            <th>Тип</th>    
            <th>Маршрут</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
        <tr>
            <td>@ticket.VehicleName</td>
            <td>@ticket.VehicleType</td>
            <td>@ticket.Route</td>
            <td>@ticket.DepartureTime</td>
            <td>@ticket.ArrivalTime</td>
        </tr>
        }
    </tbody>
</table>


