@model IEnumerable<BestTickets.Models.Ticket>

<table>
    <thead>
        <tr>
            <th>Номер транспорта</th>    
            <th>Тип</th>    
            <th>Маршрут</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Место</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
        <tr>
            <td>@ticket.VehicleName</td>
            <td>@ticket.VehicleType</td>
            <td>@ticket.Route</td>
            <td>@ticket.DepartureTime</td>
            <td>@ticket.ArrivalTime</td>
                    @foreach (var ticketType in ticket.VehiclePlace)
                    {
                     
                    <td>@ticketType.Item1</td>
                    <td>@ticketType.Item2</td>
                    <td>@ticketType.Item3</td>
                     }
            
        </tr>
        }
    </tbody>
</table>


