@model IEnumerable<BestTickets.Models.Vehicle>

        <table class="table">
            <thead>
                <tr>
                    <th>Номер транспорта</th>
                    <th>Тип</th>
                    <th>Маршрут</th>
                    <th>Время отправления</th>
                    <th>Время прибытия</th>
                    <th>Тип места/Количество свободных мест/Стоимость</th>
                </tr>
            </thead>
            @if (Model == null || Model.Count() < 1)
            {
                <tbody>
                    <tr><td><h4 class="text-center text-info">Билетов не найдено</h4></td></tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@ticket.Name</td>
                            <td>@ticket.Type</td>
                            <td>@ticket.Route</td>
                            <td>@ticket.DepartureTime</td>
                            <td>@ticket.ArrivalTime</td>    
                            <td>
                                @foreach (var place in ticket.Places)
                                {
                                    <p>
                                        <span>@place.Type</span>/<span>@place.Amount</span>/<span><strong>@place.Cost</strong></span>
                                    </p>                                   
                                }
                            </td>   
                         </tr>
                    }
                </tbody>
            }
        </table>