@model BestTickets.Models.RouteViewModel

@{
    ViewBag.Title = "Best Tickets";
}

<div class="jumbotron">
    <h1>Best tickets</h1>
    <p class="lead">This site extract information about tickets from 2 site ticketbus.by and rasp.rw.by and find best price ticket.</p>
</div>

@*<div class="row">
    @using (Ajax.BeginForm("GetTickets", new AjaxOptions { UpdateTargetId = "tickets", Url = Url.Action("GetTickets") }))
    {
        <div>
            @Html.Label("Откуда"):
            @Html.EditorFor(x => x.DeparturePlace)
            @Html.ValidationMessageFor(x => x.DeparturePlace)
        </div>
        <div>
            @Html.Label("Куда"):
            @Html.EditorFor(x => x.ArrivalPlace)
            @Html.ValidationMessageFor(x => x.ArrivalPlace)
        </div>
        <div>
            @Html.Label("Дата"):
            <input type="date" />
            @Html.ValidationMessageFor(x => x.Date)
        </div>

        <input type="submit" value="Поиск" />
    }
    
</div>

<div class="tickets">
    @Html.Action("GetTickets")
</div>*@

<div>
    @using (Html.BeginForm("GetTickets","Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(x => x.DeparturePlace, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.DeparturePlace, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DeparturePlace, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ArrivalPlace, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.ArrivalPlace, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ArrivalPlace, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Date, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Date, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                    @Html.Label("Search", "Search", new { @class = "invisible" })
                    <input class="btn btn-default form-control" type="submit" value="Поиск" />
            </div>
        </div>      
    }
</div>